/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    background-color: #222;
    color: #e2d8cf;
}

body {
    margin: 0;
}

.holy-grail,
.holy-grail > .body {
    display: flex;
    flex-direction: column;
}

.holy-grail > .body > .nav {
    order: -1;
}

@media (min-width: 768px) {
    .holy-grail > .body {
        flex-direction: row;
        flex: 1;
    }

    .holy-grail > .body > .content {
        flex: 1;
    }

    .holy-grail > .body > .nav,
    .holy-grail > .body > .ads {
        flex: 0 0 12em;
    }
}

footer {
    padding: 0 1rem;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 0 1rem;
    background-color: #111;
    height: 60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

