/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display&display=swap');

:root {
    --main-font-color: #e2d9cf;
    --main-background-color: #222;
    --navigation-background-color: #111;
}

html {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

.holy-grail,
.holy-grail > .body {
    display: flex;
    flex-direction: column;
}

.holy-grail > .body > .nav {
    order: -1;
}

@media (min-width: 768px) {
    .holy-grail > .body {
        flex-direction: row;
        flex: 1;
    }

    .holy-grail > .body > .content {
        flex: 1;
    }

    .holy-grail > .body > .nav,
    .holy-grail > .body > .ads {
        flex: 0 0 12em;
    }
}

footer {
    padding: 0 1rem;
    background-color: var(--navigation-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 0 1rem;
    background-color: var(--navigation-background-color);
    height: 60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .brand {
    color: var(--main-font-color);
}

header .brand a {
    text-decoration: none;
    color: inherit;
}

header .brand a:hover,
header .brand a:focus {
    text-decoration: underline;
}

a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:focus {
    color: goldenrod;
    text-decoration: underline;
}

input {
    background-color: #666;
    color: var(--main-font-color);
}

input[type="submit"] {
    background-color: darkgreen;
}
