<header>
  <div>
    <h1 class="brand"><%= link_to t('brand_name'), root_path %></h1>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to t('user.sign_out'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('user.register'), new_user_registration_path, style: 'padding-right: 0.5rem;' %>
      <%= link_to t('user.log_in'), new_user_session_path, style: 'padding-left: 0.5rem;' %>
    <% end %>
  </div>
</header>